<!DOCTYPE html>
<html lang="en">
<head> 
    <!--_______________________________________________________________________________________________-->
    <!--The following is basic page styling:-->
    <style> html, body, #app {margin: 0; padding: 0; height: 100%;} </style> <!--This ensures the module takes up the whole screen and removes default margins/padding.-->

    <!--_______________________________________________________________________________________________-->
    <!--The following is the Vuetify CSS and Icon library:-->
    <style> .whale-panel-area{background-color:#68c0de;} </style> <!--this CSS allows us to have a custom background colour behind the v-expansion-panels-->
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.css" rel="stylesheet"> <!--This first link gives us a style library (Vuetify) to make buttons, panels, and other parts look nice without us having to create them from scratch.-->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet"> <!--This second link gives us icons like the “information” icon that appears on buttons.-->
    
    <!--_______________________________________________________________________________________________-->
    <!--The following is the javascript library, which makes the page interactive:-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> <!--This script adds Vue, the system that makes the page react to what the user does.-->
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.x/dist/vuetify.min.js"></script> <!--This script adds Vuetify, which allows us to use the pre-made styled components.-->
    <script src="app.js" defer></script> <!--This script is our custom code (app.js) that tells the page how to behave.-->

    <meta charset="UTF-8"><!--This makes sure special characters display correctly.-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--This makes the page responsive on phones and computers.-->
    <title>Document</title>
</head>
<body>
    <div id="app"> <!--This is the main container for our app-->
        <v-app>
            <!--The following is specifics (such as colour, height, centering, and font) of the top app bar with the title of the module.-->
            <v-app-bar color="blue-grey" dark height="100" app>
               <v-app-bar-title class="text-center font-weight-bold"> 
                <div style="font-size: 26px;">Dive into the world of whales!</div>
                <div style="font-size: 20px; font-weight: 300;">Click to explore the connection between whale anatomy, maritime threats, and traditional ecological knowledge</div>
            </v-app-bar-title> 
            </v-app-bar>

            <!--This references the main content area.-->
            <v-main style="padding: 0;"> 
                <div style="height: 90px;"></div> <!--This creates empty space at the top to create some distance between the app bar or top of the page and the expansion panels-->
                
                <!--The following are the lines of codes corresponding to the drop down expansion panels: 
                (1) “Traditional Ecological Knowledge” where we wish to explain the value of this epistemic approach, what it means, how it developed, and its importance for understanding the impact of shipping routes and ships on whales, 
                (2) “Instructions” where we wish to explain how to interact with the module (how the buttons work, what the info cards contain, and how the progress button works). 
                The information within these panels will be filled out for next week's assignment.
                For both panels, the text is hidden by default and only appears when the user clicks the title.-->
                <v-container fluid class="mt-2 whale-panel-area">
                    <v-expansion-panels>
                        <!--The following is the first drop-down panel:-->
                        <v-expansion-panel style="background-color: #bedadb" class="font-weight-bold">
                             <v-expansion-panel-title class="font-weight-bold">
                                Learn about Traditional Ecological Knowledge
                            </v-expansion-panel-title>
                            <v-expansion-panel-text class="font-weight-regular">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ratione debitis quis est labore voluptatibus! Eaque cupiditate minima.
                            </v-expansion-panel-text>
                        </v-expansion-panel>
                        <!--The following is the second drop-down panel:-->
                        <v-expansion-panel style="background-color: #bedadb">
                             <v-expansion-panel-title class="font-weight-bold">
                                Instructions
                            </v-expansion-panel-title>
                            <v-expansion-panel-text class="font-weight-regular">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ratione debitis quis est labore voluptatibus! Eaque cupiditate minima.
                            </v-expansion-panel-text>
                        </v-expansion-panel>
                    </v-expansion-panels>
                </v-container>

                <!--_______________________________________________________________________________________________-->
                <!--The following is a section for the background image and the interactive buttons:-->
                <v-container fluid class="pa-0">
                    <div style="position: relative; height: 730px"> <!--This allows buttons to be placed on top of the whale image, makes our component fill the page, and hides any content that spills outside the container of the page.-->
                        <!--the first line of code within v-img makes the image fill the whale container without distortion, places the image at the back so the buttons appear on top, and helps find the button positions.-->
                        <!--the second line of code within v-img makes it so that when the user clicks the image, a function runs to record the click location.-->
                        <v-img 
                            :src="image" cover style="position: absolute; width: 100%; height: 100%;"
                            @click="findCoordinates">
                        </v-img> 
                        <template v-for="(item, index) in subjects" :key="index"> <!--This allows for each item to represent a whale body part button & info card, and helps Vue track each item.-->
                            <v-menu location="end" offset="10"> <!--This creates a pop-up menu (the info card) when the button is clicked., places the menu next to the button, and moves the menu slightly away from the button.-->
                                <template v-slot:activator="{props}"> <!--This defines what triggers the info card menu.-->
                                    <v-tooltip :text="item.title" location="top"> <!--This shows the label of the whale body part when you hover over the buttons.-->
                                        <template v-slot:activator="{props: tooltipProps}">
                                            <!--This makes the button clickable, displays them as icons only, makes them small, positions them at the exact coordinate ont he image, and makes sure the button is on top of the image.-->
                                            <v-btn v-bind="{...props, ...tooltipProps}" icon size="small" :style="{position: 'absolute', left: item.x + '%', top: item.y + '%', transform: 'translate(-50%, -50%)', zIndex:2}", @click="updateProgress(index)"> 
                                                <v-icon color="blue-darken-2">mdi-information</v-icon> <!--This shows the “i” icon inside the button.-->
                                            </v-btn>
                                        </template>
                                    </v-tooltip>
                                </template>
                            
                                <v-card width="300"> <!--This sets the width of the info card.-->
                                    <v-card-title>{{ item.title }}</v-card-title> <!--This sets the info card’ title.-->
                                    <v-img v-if="item.image" :src="item.image" height="150" cover></v-img> <!--This sets the image inside each info card.-->
                                    <v-card-text> {{ item.text1}} </v-card-text> <!--This and the following three lines set the text that appears inside the info card.-->
                                    <v-card-text>{{item.text2}}</v-card-text>
                                    <v-card-text>{{item.text3}}</v-card-text>
                                    <v-card-text>{{item.text4}}</v-card-text>

                                    <!--This sets the video inside the info card. The video won't display properly within each card because our project is stored locally. Once we upload our project to github, this error should be fixed.-->
                                    <div v-if="item.video" style="position: relative; padding-bottom: 56.25%; height: 0;">
                                        <iframe :src="item.video"
                                            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                                            frameborder="0" allowfullscreen>
                                        </iframe>
                                    </div>

                                    <!--This sets a “Learn More” button that will be included in the info card. It will link to further resources like a website or article.-->
                                    <v-card-actions class="justify-center">
                                        <v-btn :href="item.link" color="primary" rounded="xl" size="small"> Learn More </v-btn>
                                    </v-card-actions>

                                </v-card>

                            </v-menu>
                        
                        </template>

                    </div>
                </v-container>

                <!--_______________________________________________________________________________________________-->
                <!--The following is a section for the progress bar (showing how much of the module has been explored) that can be seen at the bottom of the screen:-->
            </v-main>
             <v-app-bar location="bottom" height="40" color="blue-grey" dark>
                    <div class="text-caption text-white text-center font-weight-bold">
                        Whale Exploration Progress:
                    </div>
                    <v-progress-linear :model-value="progress" :height="8" class="w-100"></v-progress-linear> <!--This sets the progress bar to update as the user clicks on the whale parts.-->
            </v-app-bar>
        </v-app>
    </div>
    
    
</body>
</html>


